<div class="col-sm-3 page-sidebar">
    <aside>
        <div class="inner-box">
            <div class="user-panel-sidebar">
                <div class="collapse-box">
                    <h5 class="collapse-title no-border"> My Profile <a href="#MyClassified" data-toggle="collapse" class="pull-right"><i class="fa fa-angle-down"></i></a></h5>
                    <div class="panel-collapse collapse in" id="MyClassified">
                        <ul class="acc-list">
                            <li><a href="/"><i class="icon-home"></i> Account </a></li>
                            <li><a href="/users/close"><i class="icon-cancel-circled "></i> Close account </a></li>
                        </ul>
                    </div>
                </div>

                <div class="collapse-box">
                    <h5 class="collapse-title"> My Tasks <a href="#MyTasks" data-toggle="collapse" class="pull-right"><i class="fa fa-angle-down"></i></a></h5>
                    <div class="panel-collapse collapse in" id="MyTasks">
                        <ul class="acc-list">
                            <li><a href="/tasker/docs"><i class="icon-docs"></i> Docs </a></li>
                            <li><a href="/tasker/skills"><i class="icon-globe"></i> Skills </a></li>
                            <li><a href="/tasker/jobs"><i class="icon-briefcase"></i> Jobs </a></li>
                            <li><a href="/tasker/payments"><i class="icon-wallet"></i> Payments </a></li>
                        </ul>
                    </div>
                </div>

                <div class="collapse-box">
                    <h5 class="collapse-title"> My Services <a href="#MyService" data-toggle="collapse" class="pull-right"><i class="fa fa-angle-down"></i></a></h5>
                    <div class="panel-collapse collapse in" id="MyService">
                        <ul class="acc-list">
                            <li><a href="/customers/jobs"><i class="icon-briefcase "></i> Jobs </a></li>
                            <li><a href="/customers/payments"><i class="icon-wallet"></i> Payments </a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </aside>
</div>