<div class="main-container">

    <div class="container">

        <div class="row">

            {if(isset($success))}

            <div class="col-md-12 page-content">

                <div class="inner-box category-content">

                    <div class="row">

                        <div class="col-lg-12">

                            <div class="alert alert-success pgray  alert-lg" role="alert">

                                <p>{$success}</p>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            {/if}

            

            {include layouts/navigation/user.html}



            <div class="col-sm-9 page-content">

                <div class="inner-box">

                    <div class="welcome-msg">

                        <h3 class="page-sub-header2 clearfix no-padding">Hello {$user->name} </h3>

                        <div id="accordion" class="panel-group">

                            <div class="panel panel-default">

                                <div class="panel-heading">

                                    <h4 class="panel-title"> <a href="#collapseB1" data-toggle="collapse"> Payment Successful </a> </h4>

                                </div>

                                <div class="panel-collapse collapse in" id="collapseB1">

                                    <div class="panel-body">
                                        {if isset($trans_success)}
                                        <div class="page-bottom-info">

    <div class="page-bottom-info-inner">

        <div class="page-bottom-info-content text-center">

            <h2>Dear</h2><h1>{$customer}</h1> <h3> Your Payment of Rs. {$amount} by {$mode} has been succesful. Please note down the transaction ID <b style="color:red">{$txnid}</b>  for any reference.  with payU or our merchant  <a  target="_blank" href="http://swiftdeal.org/">Swiftdeal Online LLP</a>. <br/> For any further assistance and payment related issues call us at : +91-9971959105</h3> 

            
        </div>

    </div>

</div>
                                        {/if}

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>