<style>
.recent-box1 {
    padding-bottom: 30px;
}
.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 1024px;
}
.custom-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.large-4 {
    width: 33.33333%;
}

.columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
}

.btnn {
    background: none;
    display: inline-block;
    border-radius: 3px;
    padding: 0px 20px;
    height: 40px;
    line-height: 38px;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    vertical-align: top;
    appearance: none;
    -webkit-appearance: none;
    text-transform: uppercase;
    border: 1px solid #04bab1;
    color: black;
    outline: none;
    transition: all 0.075s linear;
}
  </style>
   

                   
     
           <img src="http://res.cloudinary.com/tasksphere/image/upload/v1449915366/meu_yvi7v7.png" class="img-responsive">
              <img src="http://res.cloudinary.com/tasksphere/image/upload/v1449919995/lunch_ncukcu.png" class="img-responsive">
<div class="recent-box1">
	<div class="row">
		<div class="large-4 medium-4 columns">
                    
			<div class="custom-item">
				<a href="/taskers/register">
					<img src="http://res.cloudinary.com/tasksphere/image/upload/v1449886858/biryani_vmdvwj.jpg" class="img-responsive" width="250" height="200" alt="Biryani" />
					<h3>Hyderabadi Biryani--Rs 120 per Kg</h3>
				</a>								
			</div>
		</div>		
		<div class="large-4 medium-4 columns">
			<div class="custom-item">
                            
				<a href="/bookService">
                                   
				<img src="http://res.cloudinary.com/tasksphere/image/upload/v1449920366/Indian-Thali-540x405_m8g1cq.jpg" class="img-responsive" width="250" height="200" alt="Thai Green Curry Chicken " />
					<h3>Thali--Rs 35 per Thali</h3>
				</a>
				<!--a href="/index.php?route=product/search&search=thai&type=food&page_chef=1&page=1">					
					<img src="" width="314" height="353" alt="" />
					<h3></h3>
				</a>
				<div class="price-info">
					<span>Serves: <i></i> <cite>People</cite></span>
					<span>Price: <i>₹0</i></span>
				</div-->				
			</div>
		</div>
		<div class="large-4 medium-4 columns">
			<div class="custom-item">			    
				<a href="/taskers/register">
					<img src="http://res.cloudinary.com/tasksphere/image/upload/c_scale,w_611/v1449889079/Tandoori-chicken-Cover_u6ajah.jpg" class="img-responsive" width="250" height="200" alt="Juice Pack ( 5 bottles of assorted juices)" />
					<h3>Special Biryani--Rs 180 per kg</h3>
				</a>
			</div>
		</div>
	</div>
</div>
              <img src="http://res.cloudinary.com/tasksphere/image/upload/v1450012220/lunch1_nzmnmq.png" class="img-responsive">
<div class="recent-box1">
	<div class="row">
		<div class="large-4 medium-4 columns">
                    
			<div class="custom-item">
				<a href="/taskers/register">
					<img src="http://res.cloudinary.com/tau007/image/upload/v1449949249/chcikenfryjpg_ecf3vk.jpg" class="img-responsive" width="250" height="200" alt="Biryani" />
					<h3>Chicken Fry--Rs 280(Full)</h3>
				</a>								
			</div>
		</div>		
		<div class="large-4 medium-4 columns">
			<div class="custom-item">
                            
				<a href="/bookService">
                                   
				<img src="http://res.cloudinary.com/tau007/image/upload/v1449948695/tandoorichicken1_hm4qji.jpg" class="img-responsive" width="250" height="200" alt="Thai Green Curry Chicken " />
					<h3>Chicken Tandoori--Rs 280(Full)</h3>
				</a>
							
			</div>
		</div>
		<div class="large-4 medium-4 columns">
			<div class="custom-item">			    
				<a href="/taskers/register">
					<img src="http://res.cloudinary.com/tau007/image/upload/v1449948882/seekh-kebabs_ibwpap.jpg" class="img-responsive" width="250" height="200" alt="Juice Pack ( 5 bottles of assorted juices)" />
					<h3>Seekh Kebabs--Rs 120(Full)</h3>
				</a>
			</div>
		</div>
            <div class="large-4 medium-4 columns">
			<div class="custom-item">			    
				<a href="/taskers/register">
					<img src="http://res.cloudinary.com/tau007/image/upload/v1449947648/Chicken-Shawarma.jpg" class="img-responsive" width="250" height="200" alt="Juice Pack ( 5 bottles of assorted juices)" />
					<h3>Chicken Shawarma--Rs 90(2 Pcs)</h3>
				</a>
			</div>
		</div>
            <div class="large-4 medium-4 columns">
			<div class="custom-item">			    
				<a href="/taskers/register">
					<img src="http://res.cloudinary.com/tau007/image/upload/v1449945908/bonelessfishfry.jpg" class="img-responsive" width="250" height="200" alt="Juice Pack ( 5 bottles of assorted juices)" />
					<h3>BoneLess Fish Fry--Rs 480(Full)</h3>
				</a>
			</div>
		</div>
            <div class="large-4 medium-4 columns">
			<div class="custom-item">			    
				<a href="/taskers/register">
					<img src="http://res.cloudinary.com/tau007/image/upload/v1449937767/chickenlollipop.jpg" class="img-responsive" width="250" height="200" alt="Juhice Pack ( 5 bottles of assorted juices)" />
					
					<h3>Chicken Lollipop--Rs 330(Full)</h3>
				</a>
			</div>
		</div>
           
</div>
</div>
              <img src="http://res.cloudinary.com/tasksphere/image/upload/v1450013478/lunch2_w4jctc.png" class="img-responsive">
              <div class="recent-box1">
	<div class="row">
			
		<div class="large-4 medium-4 columns">
			<div class="custom-item">
                            
				<a href="/bookService">
                                   
				<img src="http://res.cloudinary.com/tasksphere/image/upload/v1450014312/grilled-cheese-rolls-a-fun-spin-on-an-american-classic-step-3_zmbenh.jpg" class="img-responsive" width="250" height="200" alt="Thai Green Curry Chicken " />
					<h3>Rolls(Egg,veg)</h3>
				</a>
							
			</div>
		</div>
		<div class="large-4 medium-4 columns">
			<div class="custom-item">			    
				<a href="/taskers/register">
					<img src="http://res.cloudinary.com/tasksphere/image/upload/v1450014225/0000035_pratha_bread_plain_wxvxqe.jpg" class="img-responsive" width="250" height="200" alt="Juice Pack ( 5 bottles of assorted juices)" />
					<h3>Pratha(Aaloo,Egg)--Rs 15 per pcs</h3>
				</a>
			</div>
		</div>
            <div class="large-4 medium-4 columns">
			<div class="custom-item">			    
				<a href="/taskers/register">
					<img src="http://res.cloudinary.com/tasksphere/image/upload/v1449888705/Big-Burger-Wallpaper_vegavi.jpg" class="img-responsive" width="250" height="200" alt="Juice Pack ( 5 bottles of assorted juices)" />
					<h3>Burger(Veg/Non Veg)-Starting at Rs 40</h3>
				</a>
			</div>
		</div>
             <div class="large-4 medium-4 columns">
			<div class="custom-item">			    
				<a href="/taskers/register">
					<img src="http://res.cloudinary.com/tasksphere/image/upload/v1450015538/348s_mhe7mc.jpg" class="img-responsive" width="250" height="200" alt="Juice Pack ( 5 bottles of assorted juices)" />
					<h3>Sandwich-Starting at Rs 45</h3>
				</a>
			</div>
		</div>
           
	</div>
</div>