<div class="intro-inner">
    <div class="contact-intro">
        <div class="w100 map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d112125.29806821776!2d77.2794856452947!3d28.5722980827729!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce391b053aeef%3A0x3c66da6bc8fccdde!2sNew+Friends+Colony%2C+New+Delhi%2C+Delhi!5e0!3m2!1sen!2sin!4v1436519392978" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

</div>

<div class="main-container">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-4">
                <div class="contact_info">
                    <h5 class="list-title gray"><strong>Contact us</strong></h5>
                    <div class="contact-info ">
                        <div class="address">
                            <p class="p1">Second floor A-4</p>
                           <p class="p1">New Friends Colony</p>
                            <p class="p1">New Delhi-110065 </p>
                            <p>Email: info@tasksphere.com</p>
                            <p>Mob:+91-9971959105 </p>
                            <p>Mob:+91-9971483769</p>
                            <p>&nbsp;</p>
                            <div>
                                <p><strong><a href="#">Live chat</a></strong></p>
                                <p><strong> <a href="login.html">Help</a></strong></p>
                                <p><strong> <a href="#skypeid" class="skype">Feedback</a></strong></p>
                                <p> <strong> <a href="faq.html">join Us</a></strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="social-list"><a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter fa-lg "></i></a>
                        <a target="_blank" href="https://www.facebook.com/tasksphere"><i class="fa fa-facebook fa-lg "></i></a>
                        <a target="_blank" href="https://plus.google.com/"><i class="fa fa-google-plus fa-lg "></i></a>
                        <a target="_blank" href="https://www.pinterest.com/tasksphere/"><i class="fa fa-pinterest fa-lg "></i></a></div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="contact-form">
                    <h5 class="list-title gray"><strong>Write your Query here</strong></h5>
                    {if isset($success)}
			          <div class="alert alert-success fade in">
			          <button data-dismiss="alert" class="close close-sm" type="button">
			          <i class="fa fa-times"></i>
			          </button>
			          <strong>Thanks!</strong> {echo $success}
			          </div>
			          {/if}
                    <form class="form-horizontal" method="post">
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input id="firstname" name="fname" type="text" placeholder="First Name" class="form-control">
                                             {echo Shared\Markup::errors($errors, "fname")}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input id="lastname" name="lname" type="text" placeholder="Last  Name" class="form-control">
                                             {echo Shared\Markup::errors($errors, "lname")}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input id="companyname" name="pin" type="text" placeholder="AreaCode" class="form-control">
                                             {echo Shared\Markup::errors($errors, "pin")}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input id="email" name="email" type="email" placeholder="Email Address" class="form-control">
                                             {echo Shared\Markup::errors($errors, "email")}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <textarea class="form-control" id="message" name="message" placeholder="Enter your massage for us here. We will get back to you within 2 business days." rows="7"></textarea>
                                             {echo Shared\Markup::errors($errors, "message")}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12 ">
                                        <input type="hidden" name="action" value="query">
                                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>