<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-9 page-content">
                <div class="inner-box category-content">
                    <h2 class="title-2 uppercase"><strong> <i class="icon-docs"></i> Schedule Pick up of Your Material</strong> </h2>
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-horizontal" method="post" action="">
                                <fieldset>
                                  
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="comment"> Details about Your Order </label>
                                        <div class="col-md-8">
                                            <textarea name="comment" class="form-control" id="comment"placeholder="Pick Up time,Quantity,Approx Weight etc " ></textarea>
                                        </div>
                                    </div>
                                    {/else}


                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="street">Full Address</label>
                                        <div class="col-md-8">
                                            <input id="street" name="street" placeholder="include house no." class="form-control input-md" required="" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Location</label>
                                        <div class="col-md-8">
                                            <select name="zone" id="category-group" class="form-control">
                                                <option value="0" selected="selected"> Select a Location... </option>
                                                {foreach $zone in $zones}
                                                <option value="{$zone->id}">{$zone->landmark}</option>
                                                {/foreach}
                                            </select>
                                        </div>
                                    </div>

                                    <!---Database needs to be modified -->
                                    
                                    
                                 

                                    {if(!$user)}
                                    <div class="content-subheading"> <i class="icon-user fa"></i> <strong>User Information</strong> </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="textinput-name">Name</label>
                                        <div class="col-md-8">
                                            <input id="textinput-name" name="name" placeholder="Customer Name" class="form-control input-md" required="" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="email">Email</label>
                                        <div class="col-md-8">
                                            <input id="seller-email" name="email" class="form-control" placeholder="Email" required="" type="email">
                                            {if isset($emailw)}
                                            <span style="color:red">{echo $emailw}</span>
                                            {/if}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="mobile">Phone Number</label>
                                        <div class="col-md-8">
                                            <input id="seller-Number" name="phone" placeholder="Phone Number" class="form-control input-md" required="" type="text">
                                            {if isset($mobilew)}
                                            <span style="color:red">{echo $mobilew}</span>
                                            {/if}
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="textinput-name">Password</label>
                                        <div class="col-md-8">
                                            <input name="password" placeholder="Set Password" class="form-control input-md" type="password">
                                        </div>
                                    </div>
                                    {/if}

                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-8"><button type="submit" id="button1id" class="btn btn-success btn-lg pull-right">Book Now</button></div>
                                    </div>
                                </fieldset>
                                <input type="hidden" name="action" value="bookService">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>