<div class="intro-inner">
    <div class="about-intro" style="
         background:url(images/bg2.jpg) no-repeat center;
         background-size:cover;">
        <div class="dtable hw100">
            <div class="dtable-cell hw100">
                <div class="container text-center">
                    <h1 class="intro-title animated fadeInDown"> Frequently Asked Questions </h1>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="main-container inner-page">
    <div class="container">
        <div class="section-content">
            <div class="row ">
                <h1 class="text-center title-1"> <strong>FAQ</strong> </h1>
                <hr class="center-block small text-hr">
            </div>
            <div class="faq-content">
                <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group faq-panel">
                    <div class="panel">
                        <div id="headingOne" role="tab" class="panel-heading">
                            <h4 class="panel-title">
                                <a aria-controls="collapseOne" aria-expanded="true" href="#collapseOne" data-parent="#accordion" data-toggle="collapse">
                                    WHAT IS TASKSPHERE?
                                </a>
                            </h4>
                        </div>
                        <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse in" id="collapseOne">
                            <div class="panel-body">
                              TaskSphere.com is a community marketplace where you can Broadcast your tasks and choose verified skilled Taskers 
                                <br><br>
                               who help you complete them or you can choose to be Tasker yourself and assist others get done with their task for some quick earns.
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div id="headingTwo" role="tab" class="panel-heading">
                            <h4 class="panel-title">
                                <a aria-controls="collapseTwo" aria-expanded="false" href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                    WHO IS A TASKER?
                                </a>
                            </h4>
                        </div>
                        <div aria-labelledby="headingTwo" role="tabpanel" class="panel-collapse collapse" id="collapseTwo">
                            <div class="panel-body">
                                A Tasker is a verified and skilled individual from your locality, ready to help broadcasters complete their tasks for some earns.
                              
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div id="headingThree" role="tab" class="panel-heading">
                            <h4 class="panel-title">
                                <a aria-controls="collapseThree" aria-expanded="false" href="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                    HOW CAN I BECOME A TASKER ON TASKSPHERE.COM?
                                </a>
                            </h4>
                        </div>
                        <div aria-labelledby="headingThree" role="tabpanel" class="panel-collapse collapse" id="collapseThree">
                            <div class="panel-body">
                               Taskmitra.com allows individuals who are 18 years and above to become a tasker.Almost anyone, with a drive to do what they love can become a tasker.

To make sure you're competitive while making an offer for tasks, you'll need to build your Tasksphere profile earnestly. You also need to earn positive reviews on completed tasks.
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div id="heading_04" role="tab" class="panel-heading">
                            <h4 class="panel-title">
                                <a aria-controls="collapse_04" aria-expanded="false" href="#collapse_04" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                   WHAT ARE THE PAYMENT OPTIONS?
                                </a>
                            </h4>
                        </div>
                        <div aria-labelledby="heading_04" role="tabpanel" class="panel-collapse collapse" id="collapse_04">
                            <div class="panel-body">
                                The broadcaster can choose to pay the Tasker Via Secured Online Payment or Cash on Delivery.

                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div id="heading_05" role="tab" class="panel-heading">
                            <h4 class="panel-title">
                                <a aria-controls="collapse_05" aria-expanded="false" href="#collapse_05" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                    HOW DO I SIGNUP TO BECOME A TASKER?
                                </a>
                            </h4>
                        </div>
                        <div aria-labelledby="heading_05" role="tabpanel" class="panel-collapse collapse" id="collapse_05">
                            <div class="panel-body">
                               It’s easy to Sign up to become a tasker on Tasksphere.com

All you need to do is just hit the Become a Tasker button on the homepage and create your profile by following the instruction.

We’ve made it even easier by providing a Facebook sign up which will create your profile automatically and voila, you’re good to go!
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div id="heading_06" role="tab" class="panel-heading">
                            <h4 class="panel-title">
                                <a aria-controls="collapse_06" aria-expanded="false" href="#collapse_06" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                 HOW TASKSPHERE WORKS?
                                </a>
                            </h4>
                        </div>
                        <div aria-labelledby="heading_06" role="tabpanel" class="panel-collapse collapse" id="collapse_06">
                            <div class="panel-body">
                               Tasksphere is the smart way to get things done by connecting you with others in your neighborhood.We find the best people to help you.You outsource errands you don't want to do.You relax while we take care of your to-do list.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="parallaxbox about-parallax-bottom">
    <div class="container">
        <div class="row text-center featuredbox">
            <div class="col-sm-4 xs-gap">
                <div class="inner">
                    <div class="icon-box-wrap"> <i class="icon-book-open ln-shadow-box shape-3"></i></div>
                    <h3 class="title-4">Describe your Task</h3>
                    <p><b>This helps us determine which Taskers are best for your job.</b></p>
                </div>
            </div>
            <div class="col-sm-4 xs-gap">
                <div class="inner">
                    <div class="icon-box-wrap"> <i class=" icon-lightbulb ln-shadow-box shape-2"></i></div>
                    <h3 class="title-4">Choose a Tasker</h3>
                    <p><b>All Taskers are fully-vetted & community-reviewed.</p>
                    </b>  </div>
            </div>
            <div class="col-sm-4 xs-gap">
                <div class="inner">
                    <div class="icon-box-wrap"> <i class="icon-megaphone ln-shadow-box shape-7"></i></div>
                    <h3 class="title-4">Get is Done</h3>
                    <p><b> Your task is completed to your satisfaction - guaranteed</b></p>
                </div>
            </div>
        </div>
    </div>
</div>