<div class="intro">

    <div class="dtable hw100">

        <div class="dtable-cell hw100">

            <div class="container text-center">

                <h1 class="intro-title animated fadeInDown"> BOOK A SERVICE AND GET IT DONE </h1>

                <p class="sub animateme fittext3 animated fadeIn"> <font color="#00FF00">Get all your tasks completed in a quick & easy way </font></p>

                <form class="row search-row animated fadeInUp" method="post" action="/users/bookService">

                    <div class="col-lg-4 col-sm-4 search-col relative locationicon">

                        <select class="form-control selecter" name="city" id="id-location">

                            <option selected="selected" value="">Select a Location</option>

                            {foreach $zone in $zones}

                            <option value="{$zone->city}">{$zone->city}</option>

                            {/foreach}

                        </select>

                    </div>

                    <div class="col-lg-4 col-sm-4 search-col relative"> <i class="icon-docs icon-append"></i>

                        <select class="form-control selecter" name="task" id="search-category">

                            <option selected="selected" value="">Select a Category</option>

                            {foreach $task in $tasks}

                            <option value="{$task->id}">{$task->title}</option>

                            {/foreach}

                        </select>

                    </div>

                    <div class="col-lg-4 col-sm-4 search-col">
                        <input type="hidden" name="homebook" value="booknow">

                        <button class="btn btn-primary btn-search btn-block"><i class="fa fa-calendar"></i> <strong>Book Now</strong></button>

                    </div>
                </form>
                
                <p>
                    
                </p>

            </div>

        </div>

    </div>

</div>



<div class="main-container">

    <div class="container">

        <div class="row">

            <div class="page-content col-thin-right">

                <div class="inner-box category-content">

                    <h2 class="title-2">Our Services  
                        <span class="pull-right">
                            <a href="whatsapp://send?text=Use TASKSPHER to get all your work done in minimum time by professional taskers. Get Electrician, Plumber, AC repair, Computer Repair , Packers and Movers and many other House keeping at http://tasksphere.com" data-action="share/whatsapp/share">Share via Whatsapp</a>
                        </span></h2>

                    <div class="row">

                        <div class="col-md-4 col-sm-4 ">

                            <div class="cat-list">

                                <h3 class="cat-title"><a href="/bookService"><i class="fa fa-user ln-shadow"></i> Handyman <span class="count"></span> </a>

                                    <span data-target=".cat-id-1" data-toggle="collapse" class="btn-cat-collapsed collapsed"> <span class=" icon-down-open-big"></span> </span>

                                </h3>

                                <ul class="cat-collapse collapse in cat-id-1">

                                    <li> Assemble Furniture</li>

                                    <li> Heavy Lifting </li>

                                    <li> Painting </li>

                                    <li>Electrical Work</li>

                                    <li> Light Installation</a> </li>

                                    <li>Yard Work & Removal</li>

                                </ul>

                            </div>

                            <div class="cat-list">

                                <h3 class="cat-title"><a href="/bookService"><i class="fa fa-wrench ln-shadow"></i>Repair <span class="count"></span></a> <span data-target=".cat-id-2" data-toggle="collapse" class="btn-cat-collapsed collapsed"> <span class=" icon-down-open-big"></span> </span></h3>

                                <ul class="cat-collapse collapse in cat-id-2">

                                    <li> Computer Repair</li>

                                    <li> Ac Repair </li>

                                    <li> Fan and cooler Repair </li>

                                    <li> Others</li>

                                </ul>

                            </div>

                        </div>
                        <!--
                         <div class="whatsapp">
                            +91-9971959105
                        </div> -->

                        <div class="col-md-4 col-sm-4">

                            <div class="cat-list">

                                <h3 class="cat-title"><a href="/bookService"><i class="fa fa-truck ln-shadow"></i> Packers and Movers <span class="count"></span></a>

                                    <span data-target=".cat-id-4" data-toggle="collapse" class="btn-cat-collapsed collapsed"> <span class=" icon-down-open-big"></span> </span>

                                </h3>

                                <ul class="cat-collapse collapse in cat-id-4">

                                    <li> Deliver Big Piece of Furniture </li>

                                    <li> Deep Clean </li>

                                    <li> TV Mounting </li>

                                    <li> Heavy Lifting </li>

                                    <li> Pack for a Move </li>

                                    <li> General Moving Help</li>



                                </ul>

                            </div>



                            <div class="cat-list">

                                <h3 class="cat-title"><a href="/bookService"><i class="fa fa-female ln-shadow"></i>Fashion and lifestyle<span class="count"></span></a> <span data-target=".cat-id-6" data-toggle="collapse" class="btn-cat-collapsed collapsed"> <span class=" icon-down-open-big"></span> </span>

                                </h3>

                                <ul class="cat-collapse collapse in cat-id-6">

                                    <li> Beautician</li>

                                    <li> Make up artist </li>

                                    <li> Need a designer </li>

                                    <li> Fashion Consultant</li>

                                </ul>

                            </div>

                        </div>

                        <div class="col-md-4 col-sm-4   last-column">

                            <div class="cat-list">

                                <h3 class="cat-title"><a href="/bookService"><i class="fa fa-music ln-shadow"></i>Events and parties<span class="count"></span></a> <span data-target=".cat-id-7" data-toggle="collapse" class="btn-cat-collapsed collapsed"> <span class=" icon-down-open-big"></span> </span>

                                </h3>

                                <ul class="cat-collapse collapse in cat-id-7">

                                    <li> Help Cooking & Serving Food </li>

                                    <li> Shop For & Install Decorations</li>

                                    <li> Event Help & Wait Staff</li>

                                    <li> Event Decorating </li>

                                    <li> Event Staffing </li>

                                    <li> Birthday event help </li>



                                </ul>

                            </div>

                            <div class="cat-list">

                                <h3 class="cat-title"><a href="/bookService"><i class="icon-home ln-shadow"></i>HouseKeeping<span class="count"></span></a>

                                    <span data-target=".cat-id-3" data-toggle="collapse" class="btn-cat-collapsed collapsed"> <span class=" icon-down-open-big"></span> </span>

                                </h3>

                                <ul class="cat-collapse collapse in cat-id-3">

                                    <li> Home Cleaning</li>

                                    <li> Kitchen cleaning </li>

                                    <li> Bathroom Cleaning</li>

                                    <li> Laundry Help </li>

                                </ul>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="inner-box relative">

                    <h2 class="title-2">How It Works</h2>
                    <img src="{echo APP}/public/assets/images/others/work.jpg" class="img-responsive">
                </div>

            </div>            
       </div>

    </div>

</div>



<div class="page-info" style="background: url(/public/assets/images/bg.jpg); background-size:cover">

    <div class="container text-center section-promo">

        <div class="row">



            <div class="col-sm-3 col-xs-6 col-xxs-12">

                <div class="iconbox-wrap">

                    <div class="iconbox">

                        <div class="iconbox-wrap-icon">

                            <i class="icon  icon-group"></i>

                        </div>

                        <div class="iconbox-wrap-content">

                            <h5><span>200</span> </h5>

                            <div class="iconbox-wrap-text">Trusted Taskers</div>

                        </div>

                    </div>



                </div> 

            </div>

            <div class="col-sm-3 col-xs-6 col-xxs-12">

                <div class="iconbox-wrap">

                    <div class="iconbox">

                        <div class="iconbox-wrap-icon">

                            <i class="icon  icon-th-large-1"></i>

                        </div>

                        <div class="iconbox-wrap-content">

                            <h5><span>20</span> </h5>

                            <div class="iconbox-wrap-text">Services</div>

                        </div>

                    </div>



                </div> 

            </div>

            <div class="col-sm-3 col-xs-6  col-xxs-12">

                <div class="iconbox-wrap">

                    <div class="iconbox">

                        <div class="iconbox-wrap-icon">

                            <i class="icon  icon-map"></i>

                        </div>

                        <div class="iconbox-wrap-content">

                            <h5><span>20</span> </h5>

                            <div class="iconbox-wrap-text">Location</div>

                        </div>

                    </div>



                </div> 

            </div>

            <div class="col-sm-3 col-xs-6 col-xxs-12">

                <div class="iconbox-wrap">

                    <div class="iconbox">

                        <div class="iconbox-wrap-icon">

                            <i class="icon icon-facebook"></i>

                        </div>

                        <div class="iconbox-wrap-content">

                            <h5><span>5000</span> </h5>

                            <div class="iconbox-wrap-text"> Facebook Fans</div>

                        </div>

                    </div>



                </div> 

            </div>

        </div>

    </div>

</div>



<div class="page-bottom-info">

    <div class="page-bottom-info-inner">

        <div class="page-bottom-info-content text-center">

            <h1>If you have any questions, comments or concerns, please call us at +91-9971959105</h1>

            <a class="btn  btn-lg btn-primary-dark" href="tel:+91-9971959105">

                <i class="icon-mobile"> <img src="{echo APP}public/assets/images/whatsapp.jpg"></i> <span class="hide-xs color50">Call Now <i>OR</i> WhatsApp US:</span> +91-9971959105 </a>
            
        </div>

    </div>

</div>