<style>
      .recent-box1 {
    padding-bottom: 30px;
}
#mc_embed_signup_scroll {
    width: 100%;
    padding: 5px;
}
#mce-EMAIL {
    border: 2px solid #ABB0B2;
    color: #343434;
    background-color: #fff;
    padding: .2em;
    border-radius: 3px;
    display: inline-block;
    margin: 0;
}
#mc-embedded-subscribe {
    display: inline-block;
    padding: 5px;
}
.button.subscribe {
    background: #0F7255;
    border: 1px solid transparent;
    border-radius: 2px;
}
.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 1024px;
}
.custom-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.large-4 {
    width: 33.33333%;
}

.columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
}

.btnn {
    background: none;
    display: inline-block;
    border-radius: 3px;
    padding: 0px 20px;
    height: 40px;
    line-height: 38px;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    vertical-align: top;
    appearance: none;
    -webkit-appearance: none;
    text-transform: uppercase;
    border: 1px solid #04bab1;
    color: black;
    outline: none;
    transition: all 0.075s linear;
}
 p {
    min-height: 20px;
    background-color: black;
     color: white;
      text-align: center;
         
}   
</style>
<div id="myCarousel" class="carousel slide" data-ride="carousel" >
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper fe -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://res.cloudinary.com/dir91wcru/image/upload/v1451586084/qwe-compressed_yvubh2.jpg" alt="Chana" class="img-responsive">
    </div>
<!--public/assets/images/qwer.png
/public/assets/images/qwe.png
/public/assets/images/Un.png
/public/assets/images/qq.png-->
    
    <div class="item">
      <img src="http://res.cloudinary.com/dir91wcru/image/upload/v1451586084/Un-compressed_zgdyov.jpg" alt="Flower" class="img-responsive">
    </div>

   <!-- <div class="item>
      <img src="" alt="Flower" class="img-responsive">
    </div>-->
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<p></p>

<div class="recent-box1">
	<div class="row">
		<div class="large-4 medium-4 columns">
                    
			<div class="custom-item">
				<a href="/home/blog">
                                    <img src="http://res.cloudinary.com/tasksphere/image/upload/v1449886858/biryani_vmdvwj.jpg" class="img-responsive" width="353" height="300" alt="Biryani" />
					<h3>Lunch</h3>
				</a>								
			</div>
		</div>		
		<div class="large-4 medium-4 columns">
			<div class="custom-item">
				<a href="/home/blog">
				<img src="http://res.cloudinary.com/tasksphere/image/upload/c_scale,w_1920/v1449888705/Big-Burger-Wallpaper_vegavi.jpg" class="img-responsive" width="353" height="300" alt="Thai Green Curry Chicken " />
					<h3>Snacks</h3>
				</a>
				<!--a href="/index.php?route=product/search&search=thai&type=food&page_chef=1&page=1">					
					<img src="" width="314" height="353" alt="" />
					<h3></h3>
				</a>
				<div class="price-info">
					<span>Serves: <i></i> <cite>People</cite></span>
					<span>Price: <i>₹0</i></span>
				</div-->				
			</div>
		</div>
		<div class="large-4 medium-4 columns">
			<div class="custom-item">			    
				<a href="/home/blog">
					<img src="http://res.cloudinary.com/tasksphere/image/upload/c_scale,w_611/v1449889079/Tandoori-chicken-Cover_u6ajah.jpg" class="img-responsive" width="353" height="300" alt="Juice Pack ( 5 bottles of assorted juices)" />
					<h3>Dinner</h3>
				</a>
			</div>
		</div>
            
	</div>
</div>
<!--	
		<div class="large-4 medium-4 columns">
			<div class="custom-item">
				<a href="/home/delivery">
				<img src="http://res.cloudinary.com/tasksphere/image/upload/v1449890876/grocery-shopping_bqprkk.jpg" class="img-responsive" width="353" height="300" alt="Thai Green Curry Chicken " />
					<h3>Order Grocery Online</h3>
				</a>
				<!--a href="/index.php?route=product/search&search=thai&type=food&page_chef=1&page=1">					
					<img src="" width="314" height="353" alt="" />
					<h3></h3>
				</a>
				<div class="price-info">
					<span>Serves: <i></i> <cite>People</cite></span>
					<span>Price: <i>₹0</i></span>
				</div				
			</div>
		</div>
		<div class="large-4 medium-4 columns">
			<div class="custom-item">			    
				<a href="/home/delivery">
					<img src="http://res.cloudinary.com/tasksphere/image/upload/v1449896737/Renault-Twizy-Cargo-Courier-Services-Above-View_nyigb9.jpg" class="img-responsive" width="353" height="300" alt="Juice Pack ( 5 bottles of assorted juices)" />
					<h3>Pick and Deliver Service-Book Now</h3>
				</a>
			</div>
		</div> -->
	
<!--  <div class="intro">
    __
    <div class="dtable hw100">

        <div class="dtable-cell hw100">

          <div class="container text-center">

                <h1 class="intro-title animated fadeInDown"></h1>

               <p class="sub animateme fittext3 animated fadeIn"> <font color="White"> </font></p>

                <form class="row search-row animated fadeInUp" method="post" action="/users/bookService">

                    <div class="col-lg-4 col-sm-4 search-col relative locationicon">

                        <select class="form-control selecter" name="city" id="id-location">

                            <option selected="selected" value="">Select a Location</option>

                            {foreach $zone in $zones}

                            <option value="{$zone->city}">{$zone->city}</option>

                            {/foreach}

                        </select>

                    </div>

                    <div class="col-lg-4 col-sm-4 search-col relative"> <i class="icon-docs icon-append"></i>

                        <select class="form-control selecter" name="task" id="search-category">

                            <option selected="selected" value="">Select a Category</option>

                            {foreach $task in $tasks}

                            <option value="{$task->id}">{$task->title}</option>

                            {/foreach}

                        </select>

                    </div>

                    <div class="col-lg-4 col-sm-4 search-col">
                        <input type="hidden" name="homebook" value="booknow">

                        <button class="btn btn-primary btn-search btn-block"><i class="fa fa-calendar"></i> <strong>Book Now</strong></button>

                    </div>
                </form>

                <p>

                </p>

            </div>

        </div>

    </div>

</div>-->

<!--
<div class="main-container">

    <div class="container">

        <div class="row">

            <div class="page-content col-thin-right">

                <div class="inner-box category-content">

                    <h2 class="title-2">Our Services  
                       <span class="pull-right">
                            <a href="whatsapp://send?text=Use TASKSPHER to get all your work done in minimum time by professional taskers. Get Electrician, Plumber, AC repair, Computer Repair , Packers and Movers and many other House keeping at http://tasksphere.com" data-action="share/whatsapp/share">Share via Whatsapp</a>
                        </span>
                    </h2>

                    <div class="row">

                        <div class="col-md-4 col-sm-4 ">

                            <div class="cat-list">

                                <h3 class="cat-title"><a href="/bookService"><i class="fa fa-user ln-shadow"></i> Delivery <span class="count"></span> </a>

                                    <span data-target=".cat-id-1" data-toggle="collapse" class="btn-cat-collapsed collapsed"> <span class=" icon-down-open-big"></span> </span>

                                </h3>

                                <ul class="cat-collapse collapse in cat-id-1">

                                    <li> Groceries</li>

                                    <li> Food </li>

                                    <li> Flowers </li>


                                </ul>

                            </div>

                            <div class="cat-list">

                                <h3 class="cat-title"><a href="/bookService"><i class="fa fa-wrench ln-shadow"></i>DRY CLEANING <span class="count"></span></a> <span data-target=".cat-id-2" data-toggle="collapse" class="btn-cat-collapsed collapsed"> <span class=" icon-down-open-big"></span> </span></h3>

                                <ul class="cat-collapse collapse in cat-id-2">

                                    <li>Coat </li>

                                    <li> Sweater </li>

                                    <li> Jacket </li>

                                    <li> Shawl</li>
                                    <li>Safari Suit</li>

                                </ul>

                            </div>

                        </div>
                        <!--
                         <div class="whatsapp">
                            +91-9971959105
                        </div> 

                        <div class="col-md-4 col-sm-4">

                            <div class="cat-list">

                                <h3 class="cat-title"><a href="/bookService"><i class="fa fa-truck ln-shadow"></i> Packers and Movers <span class="count"></span></a>

                                    <span data-target=".cat-id-4" data-toggle="collapse" class="btn-cat-collapsed collapsed"> <span class=" icon-down-open-big"></span> </span>

                                </h3>

                                <ul class="cat-collapse collapse in cat-id-4">

                                    <li> Deliver Big Piece of Furniture </li>

                                    <li> Deep Cleaning </li>

                                    <li> TV Mounting </li>

                                    <li> Heavy Lifting </li>

                                    <li> Pack for a Move </li>

                                    <li> General Moving Help</li>



                                </ul>

                            </div>

                       


                            <div class="cat-list">

                                <h3 class="cat-title"><a href="/bookService"><i class="fa fa-female ln-shadow"></i>Interior Design and Decoration<span class="count"></span></a> <span data-target=".cat-id-6" data-toggle="collapse" class="btn-cat-collapsed collapsed"> <span class=" icon-down-open-big"></span> </span>

                                </h3>

                                <ul class="cat-collapse collapse in cat-id-6">

                                    <li>Commercial interior Design </li>

                                    <li>Home interior Design  </li>

                                    <li>Wall Decor  </li>

                                    <li> Kitchen Design</li>

                                </ul>

                            </div>

                        </div>

                        <div class="col-md-4 col-sm-4   last-column">

                            <div class="cat-list">

                                <h3 class="cat-title"><a href="/bookService"><i class="fa fa-music ln-shadow"></i>Events and parties<span class="count"></span></a> <span data-target=".cat-id-7" data-toggle="collapse" class="btn-cat-collapsed collapsed"> <span class=" icon-down-open-big"></span> </span>

                                </h3>

                                <ul class="cat-collapse collapse in cat-id-7">

                                    <li> Help Cooking & Serving Food </li>

                                    <li> Shop For & Install Decorations</li>

                                    <li> Event Help & Wait Staff</li>

                                    <li> Event Decorating </li>

                                    <li> Event Staffing </li>

                                    <li> Birthday event help </li>



                                </ul>

                            </div>

                            <div class="cat-list">

                                <h3 class="cat-title"><a href="/bookService"><i class="icon-home ln-shadow"></i>HouseKeeping<span class="count"></span></a>

                                    <span data-target=".cat-id-3" data-toggle="collapse" class="btn-cat-collapsed collapsed"> <span class=" icon-down-open-big"></span> </span>

                                </h3>

                                <ul class="cat-collapse collapse in cat-id-3">

                                    <li> Home Cleaning</li>

                                    <li> Kitchen cleaning </li>

                                    <li> Bathroom Cleaning</li>

                                    <li> Laundry Help </li>

                                </ul>

                            </div>

                        </div>

                    </div>

                </div> 

                <div class="inner-box relative">

                    <h2 class="title-2">How It Works</h2>
                    <img src="{echo APP}/public/assets/images/others/work.jpg" class="img-responsive">
                </div>

            </div>            
        </div>

    </div>

</div>



<div class="page-info" style="background: url(/public/assets/images/bg.jpg); background-size:cover">

    <div class="container text-center section-promo">

        <div class="row">


            <div class="col-sm-3 col-xs-6 col-xxs-12">

                <div class="iconbox-wrap">

                    <div class="iconbox">

                        <div class="iconbox-wrap-icon">

                            <i class="icon  icon-group"></i>

                        </div>

                        <div class="iconbox-wrap-content">

                            <h5><span>200</span> </h5>

                            <div class="iconbox-wrap-text">Trusted Taskers</div>

                        </div>

                    </div>



                </div> 

            </div>

            <div class="col-sm-3 col-xs-6 col-xxs-12">

                <div class="iconbox-wrap">

                    <div class="iconbox">

                        <div class="iconbox-wrap-icon">

                            <i class="icon  icon-th-large-1"></i>

                        </div>

                        <div class="iconbox-wrap-content">

                            <h5><span>15</span> </h5>

                            <div class="iconbox-wrap-text">Services</div>

                        </div>

                    </div>



                </div> 

            </div>

            <div class="col-sm-3 col-xs-6  col-xxs-12">

                <div class="iconbox-wrap">

                    <div class="iconbox">

                        <div class="iconbox-wrap-icon">

                            <i class="icon  icon-map"></i>

                        </div>

                        <div class="iconbox-wrap-content">

                            <h5><span>20</span> </h5>

                            <div class="iconbox-wrap-text">Location</div>

                        </div>

                    </div>



                </div> 

            </div>

            <div class="col-sm-3 col-xs-6 col-xxs-12">

                <div class="iconbox-wrap">

                    <div class="iconbox">

                        <div class="iconbox-wrap-icon">

                            <i class="icon icon-facebook"></i>

                        </div>

                        <div class="iconbox-wrap-content">

                            <h5><span>5000</span> </h5>

                            <div class="iconbox-wrap-text"> Facebook Fans</div>

                        </div>

                    </div>



                </div> 

            </div>

        </div>

    </div>

</div>
-->

  

            
       <!--    <a class="btn  btn-lg btn-primary-dark" href="tel:+91-9971959105">

                <i class="icon-mobile"> <img src="{echo APP}public/assets/images/whatsapp.jpg"></i> <span class="hide-xs color50">Call Now <i>OR</i> WhatsApp US:</span> +91-9971959105 </a>
-->
<div class="recent-box1">
	<div class="row">
 <div class="large-8 medium-8 columns">	
			<div class="custom-item-group party-pg">
				<a href="/party">
					<img height="350" width="653" src="http://res.cloudinary.com/dir91wcru/image/upload/v1451759477/COMING_SOON_1_p0plgd.jpg" alt="Party" class="img-responsive">	
					<div class="custom-heading-mobile"><span>ORDER FOOD FROM RESTAURANTS NEAR YOU</span>
						<h4>&nbsp;</h4>
					</div>					
				</a>				
			</div>
		</div>
<div class="large-4 medium-4 columns">
			<div class="custom-item-group">
				<a href="/home/blog">
					<img height="350" width="311" src="http://res.cloudinary.com/dir91wcru/image/upload/v1451758557/Optimized-Paratha-Wallpapers-HD_ke3bel.jpg" alt="Largest Variety of Parathas">	
					<h3>Largest Variety of Parathas</h3>
				</a>
			</div>
		</div>
        </div></div>
                                                      <a href="/home/blog">
                                                      <center><img src="http://res.cloudinary.com/dir91wcru/image/upload/v1451643236/how-it-works_prvorq.png" class="img-responsive"></center>
                                                      </a>
	
		
                    <!--
			<div class="custom-item">
				<a href="/home/resturant">
					<img src="http://res.cloudinary.com/tasksphere/image/upload/c_scale,w_716/v1449892098/restaurant-hd_images_rvgdyb.jpg" class="img-responsive" />
                                        <h3>Find Food From Resturants near You</h3>
				</a>								
			</div>  -->
			
<!--
<div class="inner-box relative">
                    				<a href="/home/blog">

                                                    <img src="http://res.cloudinary.com/tasksphere/image/upload/v1451201409/how_jnwdae.png" class="img-responsive"></a>
                </div>  -->
       <div class="inner-box relative">

                    
                    <img src="http://res.cloudinary.com/tasksphere/image/upload/v1449895496/Untitlfgd_pa4akf.png" class="img-responsive">
                </div>

<div class="page-bottom-info">

    <div class="page-bottom-info-inner">

        <div class="page-bottom-info-content text-center">

            <i class="toolbox-icon"></i>
    <h1 class="title-xxl mbottom10">We deliver to your office too</h1>
    <p> We Organize lunch for the team. Need food for thought at a meeting? We have a team of specialists whose mission is to take the hassle out of doing just that. Just get in touch and we will take care of it.
        For Details please call us at

 <b>9971959105</b>  Team Lunch? Conference? Get Discounts! Mail us at oyeefood@tasksphere.com</p>
    <a href="/home/contact" class="btnn">Get In Touch</a>

       <!--    <a class="btn  btn-lg btn-primary-dark" href="tel:+91-9971959105">

                <i class="icon-mobile"> <img src="{echo APP}public/assets/images/whatsapp.jpg"></i> <span class="hide-xs color50">Call Now <i>OR</i> WhatsApp US:</span> +91-9971959105 </a>
-->
<div id="mc_embed_signup_scroll">
                <input type="email" value="" name="EMAIL" class="" id="mce-EMAIL" placeholder="Email" required="">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button subscribe"></div>
        </div>
       

    </div>

</div>  