<div class="intro">
    <div class="dtable hw100">
        <div class="dtable-cell hw100">
            <div class="container text-center">
                <h1 class="intro-title animated fadeInDown"> BOOK A SERVICE AND GET IT DONE </h1>
                <p class="sub animateme fittext3 animated fadeIn"> <font color="white">Get all your tasks completed in a quick & easy way </font></p>
                <div class="row search-row animated fadeInUp">
                    <div class="col-lg-4 col-sm-4 search-col relative locationicon">
                        <i class="icon-location-2 icon-append"></i>
                        <select class="form-control selecter" name="location" id="id-location">
                            <option selected="selected" value="">All Locations</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                            <option value="Other-Locations">Other Locations</option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-sm-4 search-col relative"> <i class="icon-docs icon-append"></i>
                        <select class="form-control selecter" name="category" id="search-category">
                            <option selected="selected" value="">All Categories</option>
                            <option value="Vehicles" style="background-color:#E9E9E9;font-weight:bold;" disabled="disabled"> - Vehicles - </option>
                            <option value="Cars"> Cars </option>
                            <option value="Commercial vehicles"> Commercial vehicles </option>
                            <option value="Motorcycles"> Motorcycles </option>
                            <option value="Motorcycle Equipment"> Car &amp; Motorcycle Equipment </option>
                            <option value="Boats"> Boats </option>
                            <option value="Vehicles"> Other Vehicles </option>
                            <option value="House" style="background-color:#E9E9E9;font-weight:bold;" disabled="disabled"> - House and Children - </option>
                            <option value="Appliances"> Appliances </option>
                            <option value="Inside"> Inside </option>
                            <option value="Games"> Games and Clothing </option>
                            <option value="Garden"> Garden </option>
                            <option value="Multimedia" style="background-color:#E9E9E9;font-weight:bold;" disabled="disabled"> - Multimedia - </option>
                            <option value="Telephony"> Telephony </option>
                            <option value="Image"> Image and sound </option>
                            <option value="Computers"> Computers and Accessories </option>
                            <option value="Video"> Video games and consoles </option>
                            <option value="Real" style="background-color:#E9E9E9;font-weight:bold;" disabled="disabled"> - Real Estate - </option>
                            <option value="Apartment"> Apartment </option>
                            <option value="Home"> Home </option>
                            <option value="Vacation"> Vacation Rentals </option>
                            <option value="Commercial"> Commercial offices and local </option>
                            <option value="Grounds"> Grounds </option>
                            <option value="Houseshares"> Houseshares </option>
                            <option value="Other real estate"> Other real estate </option>
                            <option value="Services" style="background-color:#E9E9E9;font-weight:bold;" disabled="disabled"> - Services - </option>
                            <option value="Jobs"> Jobs </option>
                            <option value="Job application"> Job application </option>
                            <option value="Services"> Services </option>
                            <option value="Price"> Price </option>
                            <option value="Business"> Business and goodwill </option>
                            <option value="Professional"> Professional equipment </option>
                            <option value="dropoff" style="background-color:#E9E9E9;font-weight:bold;" disabled="disabled"> - Extra - </option>
                            <option value="Other"> Other </option>
                        </select>
                    </div>
                    <div class="col-lg-4 col-sm-4 search-col">
                        <button class="btn btn-block btn-primary  "> <i class="fa fa-calendar"></i> Book Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 page-content col-thin-right">
                <div class="inner-box category-content">
                    <h2 class="title-2">Our Services </h2>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 ">
                            <div class="cat-list">
                                <h3 class="cat-title"><a href="category.html"><i class="fa fa-user ln-shadow"></i> Handyman <span class="count"></span> </a>
                                    <span data-target=".cat-id-1" data-toggle="collapse" class="btn-cat-collapsed collapsed"> <span class=" icon-down-open-big"></span> </span>
                                </h3>
                                <ul class="cat-collapse collapse in cat-id-1">
                                    <li> Assemble Furniture</li>
                                    <li> Heavy Lifting </li>
                                    <li> Painting </li>
                                    <li>Electrical Work</li>
                                    <li> Light Installation</a> </li>
                                    <li>Yard Work & Removal</li>
                                </ul>
                            </div>
                            <div class="cat-list">
                                <h3 class="cat-title"><a href="category.html"><i class="icon-wrench ln-shadow"></i>Repair <span class="count"></span></a> <span data-target=".cat-id-2" data-toggle="collapse" class="btn-cat-collapsed collapsed"> <span class=" icon-down-open-big"></span> </span></h3>
                                <ul class="cat-collapse collapse in cat-id-2">
                                    <li> Computer Repair</li>
                                    <li> Ac Repair </li>
                                    <li> Fan and cooler Repair </li>
                                    <li> Others</li>
                                </ul>
                            </div>
                            <div class="cat-list">
                                <h3 class="cat-title"><a href="category.html"><i class="icon-home ln-shadow"></i>HouseKeeping<span class="count"></span></a>
                                    <span data-target=".cat-id-3" data-toggle="collapse" class="btn-cat-collapsed collapsed"> <span class=" icon-down-open-big"></span> </span>
                                </h3>
                                <ul class="cat-collapse collapse in cat-id-3">
                                    <li> Home Cleaning</li>
                                    <li> Kitchen cleaning </li>
                                    <li> Bathroom Cleaning</li>
                                    <li> Laundry Help </li>
                                    <li> Need a maid?? </li>
                                    <li> General Cleaning </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="cat-list">
                                <h3 class="cat-title"><a href="category.html"><i class="fa fa-briefcase ln-shadow"></i> Packers and Movers <span class="count"></span></a>
                                    <span data-target=".cat-id-4" data-toggle="collapse" class="btn-cat-collapsed collapsed"> <span class=" icon-down-open-big"></span> </span>
                                </h3>
                                <ul class="cat-collapse collapse in cat-id-4">
                                    <li> Deliver Big Piece of Furniture </li>
                                    <li> Deep Clean </li>
                                    <li> TV Mounting </li>
                                    <li> Heavy Lifting </li>
                                    <li> Pack for a Move </li>
                                    <li> General Moving Help</li>

                                </ul>
                            </div>

                            <div class="cat-list">
                                <h3 class="cat-title"><a href="category.html"><i class="icon-guidedog ln-shadow"></i>Fashion and lifestyle<span class="count"></span></a> <span data-target=".cat-id-6" data-toggle="collapse" class="btn-cat-collapsed collapsed"> <span class=" icon-down-open-big"></span> </span>
                                </h3>
                                <ul class="cat-collapse collapse in cat-id-6">
                                    <li> Beautician</li>
                                    <li> Make up artist </li>
                                    <li> Need a designer </li>
                                    <li> Fashion Consultant</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4   last-column">
                            <div class="cat-list">
                                <h3 class="cat-title"><a href="category.html"><i class=" icon-basket-1 ln-shadow"></i>Events+parties<span class="count"></span></a> <span data-target=".cat-id-7" data-toggle="collapse" class="btn-cat-collapsed collapsed"> <span class=" icon-down-open-big"></span> </span>
                                </h3>
                                <ul class="cat-collapse collapse in cat-id-7">
                                    <li> Help Cooking & Serving Food </li>
                                    <li> Shop For & Install Decorations</li>
                                    <li> Event Help & Wait Staff</li>
                                    <li> Event Decorating </li>
                                    <li> Event Staffing </li>
                                    <li> Research </li>
                                    <li> Birthday event help </li>

                                </ul>
                            </div>
                            <div class="cat-list ">
                                <h3 class="cat-title"><a href="category.html"><i class=" icon-theatre ln-shadow"></i>Grocery and others  <span class="count"></span> </a> <span data-target=".cat-id-8" data-toggle="collapse" class="btn-cat-collapsed collapsed"> <span class=" icon-down-open-big"></span> </span>
                                </h3>
                                <ul class="cat-collapse collapse in cat-id-8">
                                    <li> Fruits Delivery</li>
                                    <li> Gifts for Delivery </li>
                                    <li> Shopping </li>
                                    <li> Grocery Shopping</li>
                                    <li> Return items</li>
                                    <li> Need a home tutor??</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inner-box relative">
                    <h2 class="title-2">How It Works
                        <img src="/public/assets/images/others/work.jpg" class="img-responsive">
                    </h2>
                </div>
            </div>
            <div class="col-sm-3 page-sidebar col-thin-left">
                <aside>
                    <div class="inner-box no-padding">
                        <div class="inner-box-content"> <a href="#"><img class="img-responsive" src="{echo CDN}images/site/app.jpg" alt="tv"></a> </div>
                    </div>
                    <div class="inner-box">
                        <h2 class="title-2">Popular Taskers </h2>
                        <div class="inner-box-content">
                            <ul class="cat-list arrow">
                                <li> <a href="sub-category-sub-location.html"> Rahul &#9733;&#9733;&#9733;&#9733;&#9733 </a></li>
                                <li> <a href="sub-category-sub-location.html"> Amit &#9733;&#9733;&#9733;&#9733; </a></li>
                                <li> <a href="sub-category-sub-location.html"> Ahmed &#9733;&#9733;&#9733;&#9733; </a></li>
                                <li> <a href="sub-category-sub-location.html"> Commum &#9733; </a></li>
                                <li> <a href="sub-category-sub-location.html"> Ele &#9733;&#9733; </a></li>
                                <li> <a href="sub-category-sub-location.html"> Joyti &#9733;&#9733;&#9733; </a></li>
                                <li> <a href="sub-category-sub-location.html"> Motorc &#9733;&#9733;&#9733;</a></li>
                                <li> <a href="sub-category-sub-location.html"> Peter &#9733;&#9733;&#9733; </a></li>
                                <li> <a href="sub-category-sub-location.html"> Server &#9733;&#9733; </a></li>
                                <li> <a href="sub-category-sub-location.html"> Aamir &#9733;</a></li>
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>

<div class="page-info" style="background: url(/public/assets/images/bg.jpg); background-size:cover">
    <div class="container text-center section-promo">
        <div class="row">

            <div class="col-sm-3 col-xs-6 col-xxs-12">
                <div class="iconbox-wrap">
                    <div class="iconbox">
                        <div class="iconbox-wrap-icon">
                            <i class="icon  icon-group"></i>
                        </div>
                        <div class="iconbox-wrap-content">
                            <h5><span>200</span> </h5>
                            <div class="iconbox-wrap-text">Trusted Taskers</div>
                        </div>
                    </div>

                </div> 
            </div>
            <div class="col-sm-3 col-xs-6 col-xxs-12">
                <div class="iconbox-wrap">
                    <div class="iconbox">
                        <div class="iconbox-wrap-icon">
                            <i class="icon  icon-th-large-1"></i>
                        </div>
                        <div class="iconbox-wrap-content">
                            <h5><span>20</span> </h5>
                            <div class="iconbox-wrap-text">Services</div>
                        </div>
                    </div>

                </div> 
            </div>
            <div class="col-sm-3 col-xs-6  col-xxs-12">
                <div class="iconbox-wrap">
                    <div class="iconbox">
                        <div class="iconbox-wrap-icon">
                            <i class="icon  icon-map"></i>
                        </div>
                        <div class="iconbox-wrap-content">
                            <h5><span>20</span> </h5>
                            <div class="iconbox-wrap-text">Location</div>
                        </div>
                    </div>

                </div> 
            </div>
            <div class="col-sm-3 col-xs-6 col-xxs-12">
                <div class="iconbox-wrap">
                    <div class="iconbox">
                        <div class="iconbox-wrap-icon">
                            <i class="icon icon-facebook"></i>
                        </div>
                        <div class="iconbox-wrap-content">
                            <h5><span>5000</span> </h5>
                            <div class="iconbox-wrap-text"> Facebook Fans</div>
                        </div>
                    </div>

                </div> 
            </div>
        </div>
    </div>
</div>

<div class="page-bottom-info">
    <div class="page-bottom-info-inner">
        <div class="page-bottom-info-content text-center">
            <h1>If you have any questions, comments or concerns, please call us at +91-9971959105</h1>
            <a class="btn  btn-lg btn-primary-dark" href="tel:+000000000">
                <i class="icon-mobile"></i> <span class="hide-xs color50">Call Now:</span>+91-9971959105 </a>
        </div>
    </div>
</div>