
<div class="container content">
    <div class="fallback-content">
        <h3>Privacy Policy</h3>
        <p><b> 1.Privacy Policy</b></p>

        <p>TaskSphere(“We”) manages the information that we collect from you in accordance with all applicable privacy legislation in India.

            This Privacy Policy describes how Tasksphere handles your personal information, and sets out the rights and obligations that both you and TaskSphere have in relation to your personal information.

            By accessing www.Tasksphere.com (the “Site”) you accept and agree to the terms and conditions of Tasksphere user agreement (“User Agreement”), which includes your consent to, and authorization of, the collection, use and disclosure of your personal information in accordance with this Privacy Policy. Note that under TaskSphere terms and conditions of use, you must not use the Site if you are under 18 years old.</p>
        <p><b>2.Collection of Personally Identifiable Information and other Information</b></p>
        <p>When you use our Website, we collect and store your personal information which is provided by you from time to time. Our primary goal in doing so is to provide you a safe, efficient, smooth and customized experience. This allows us to provide services and features that most likely meet your needs, and to customize our Website to make your experience safer and easier. More importantly, while doing so we collect personal information from you that we consider necessary for achieving this purpose.</p>
        <p><b>3.Sharing of personal information</b></p>
        <p>We may share personal information with our other corporate entities and affiliates to help detect and prevent identity theft, fraud and other potentially illegal acts; correlate related or multiple accounts to prevent abuse of our services; and to facilitate joint or co-branded services that you request where such services are provided by more than one corporate entity. Those entities and affiliates may not market to you as a result of such sharing unless you explicitly opt-in.</p>
        <p><b>4.Marketing</b></p>
        <p>
            When you register on the Site you may be given the opportunity to elect (“opt-in”) to receive updates on our latest services, news and special offers, and those of our valued affiliate service providers (“Marketing Material”), via your TaskSphere account, personal e-mail address, post or telephone. If you conclude a transaction on the Site, you may also be given the opportunity to opt- in to receive Marketing Material from TaskSphere and our valued affiliate service providers.</p>
    </div>
</div>