<div class="container content">
    <div class="fallback-content">
        <h3>Terms and Conditions</h3>
        <p><b> 1. Service Connects Taskers and Clients</b></p>

        <p>The Service is a communications platform which enables the connection between Clients and Taskers. Clients are individuals and/or businesses seeking to obtain task services (“Tasks”) from Taskers and are therefore clients of Taskers, and Taskers are individuals and/or businesses seeking to perform Tasks (“Taskers”) for Clients. Clients and Taskers together are hereinafter referred to as “Users.”
        <p><b>2. Service Only Provides a Venue</b></p>
        <p>The Service is a platform for enabling connections between Users for the fulfillment of Tasks, but Company is not responsible for the performance of Users, nor does it have control over the quality, timing, legality, failure to provide, or any other aspect whatsoever of Tasks Clients, nor of the integrity, responsibility or any of the actions or omissions whatsoever of any Users. Company does not have control over the quality, timing or legality of Tasks delivered by its Taskers. Company makes no representations about the suitability, reliability, timeliness, or accuracy of the Tasks requested and provided by Users identified through the Service whether in public, private, or offline interactions.</p>
        <p><b>3. Billing and Payment Policy</b></p>
        <p>Company will charge your credit card according to the amount agreed upon between you and Company for the use of the Service, and you hereby authorize us to charge your credit card for such amounts. Company retains the right, in its sole discretion, to place a hold on any payment for a completed Task transaction.

            Company has no obligation to provide refunds or credits, but may grant them in extenuating circumstances, as a result of specific refund guarantee promotions, or to correct any errors made by Company, in each case in Company's sole discretion.

            You will be liable for all transaction taxes on the services provided under this Agreement (other than taxes based on Company's income).</p>
       
    </div>

</div>